.solutions {
    width: 100%;
    height: 100vh;
}

.solutions__container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.solutions__title {
    margin-left: 220px;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.solutions__content {
    display: flex;
    align-items: center; 
    margin-left: 20px;
}

.solutions__img {
    width: 450px;
    margin-left: 200px;
    border: 1px solid lightgray;
    height: 450px;
    border-radius: 50px;
    object-position: center;
    box-shadow: 15px 10px 8px rgba(0, 0, 0, 0.1);
}

.solutions__content > button {
    cursor: pointer;
    width: 30px;
    font-size: 18px;
    aspect-ratio: 1;
    border-radius: 30px;
    border: none; 
    text-align: center;
    background-color: #42b4e6;
    color: #ffffff;
}

.solutions__content > button:hover {
    background-color: #55d1fe;

}

.slider__left {
    position: absolute;
    top: 52%; 
    left: 12%; 
    transform: translateY(-50%);
}


.slider__right {
    position: absolute;
    top: 52%; 
    right: 65.1%; 
    transform: translateY(-50%);
}


.solutions__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.solutions__name {
    margin: 15px auto -5px 90px;
    font-size: 1.8rem;
    display: flex;
}

.solutions__description {
    padding-left: 90px;
    width: 850px;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: justify;
    margin-top: 25px;
}

.solutions__price {
    font-size: 1.05rem;
    margin-right: 77%;
    margin-top: -5px;
    font-weight: bold;
}

.solutions__btn {
    margin: 10px 68% auto 10px;
    outline-style: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 15px;
    width: 15%;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    background-color: #42b4e6;
}

.solutions__infos {
    margin: 95px auto 95px 220px;
   
}

.solutions__order {
    font-size: 1.8rem;
}

.solutions__access {
    font-size: 1.2rem;
}

.solutions__ask {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -30px;
    font-size: 1.3rem; 
}

.solutions__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-right: 40px;
}


.floating-label-group {
	position: relative;
	margin-top: 15px;
}

.floating-label {
    font-size: 15px;
    color: #cccccc;
    position: absolute;
    pointer-events: none;
    top: 3px;
    left: 15px;
    transition: all 0.1s ease;
}

.form-control{
    margin-right: 50px;
    width: 102%;
    padding: 15px; 
    border: 1px solid black;
    border-radius: 5px;
}

input:focus ~ .floating-label,
textarea:focus ~ .floating-label, 
input:not(:focus):valid ~ .floating-label, 
textarea:not(:focus):valid ~ .floating-label {
    top: -22px;
    bottom: 0px;
    left: 3px;
    font-size: 16px;
    font-style: italic;
    opacity: 1;
    color: #3DCD58;
}

.floating-label-group textarea {
    resize: none;
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}

.solutions__send {
    background-color: #42b4e6;
    outline-style: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 15px;
    width: 20%;
    margin-top: 15px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;

    &:hover {
        background-color: #55d1fe;
    }
}